{% extends 'header.html' %}
{% block content %}
<html>
<head>
	<title>Book Your Ticket</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/static/fonts/iconic/css/material-design-iconic-font.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/util.css">
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<style>

		body{
			padding:0;
			margin:0;
			background-opacity:0.4;
		}
		.hidden_input{
			display: none;
		}
</style>

</head>
<body >
<div class="co" style="background-image: url('/static/images/login.jpg'); background-size:cover;">
    {% if bookdata %}
		{% for each in bookdata %}

        <center><form action="/booking/payment/" method="post">
			{% csrf_token %}
			<div class="wrap">
					<span class="login-form-title p-b-40 p-t-40">
						BOOKING DETAIL
					</span>
						<div>
							<b> Train Name:</b> {{ each.trainname }}({{ each.trainno }})
						</div>
						<br/>
						<div>
							<b> Price Of A Ticket:</b>{{ each.price }}
						</div>
						<br/>
						<div>
							<b> Distance:</b>{{ each.distance}} KM
						</div>
				<br>
				<div>
						Number of Passengers:<input name="passenger" type="number" min="1" max="10" style="width: 10%;" value="1" required />

					</div>
            <input class="hidden_input" name="trainno" type="text" value="{{ each.trainno }}"/>
			<input class="hidden_input" name="aid" type="text" value="{{ each.aid }}"/>
			<input class="hidden_input" name="did" type="text" value="{{ each.did }}"/>
				<input class="hidden_input" name="train_class" type="text" value="{{ each.train_class }}"/>
		<br/>
				<br/>
				<div class="container-login-form-btn">
						<button class="login-form-btn">
							SUBMIT
						</button>
					</div>
        </form></center>
    {% endfor %}
	{% endif %}
</div>
</body>
</html>
{% endblock %}