{% extends 'header.html' %}
{% block content %}
<html>
<head>
	<title>Show Train</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/static/fonts/iconic/css/material-design-iconic-font.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/util.css">
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<style>

		body{
			padding:0;
			margin:0;
			background-opacity:0.4;
		}

        #a {
                opacity: 0.5;
                border: none;
                text-decoration: none;
                cursor: pointer;
                font-size:20px;
        }
	table {
	  	border-collapse: collapse;
	  	border-spacing: 0;
	  	background-color:white;
	  	opacity:0.7;
  		width: 100%;
  		border: 1px solid #ddd;
	}

	th, td {
	  text-align: left;
	  padding: 16px;
	}
	th {
	font-size:25px;
	}
	.hidden_input{
		display: none;
	}
</style>

</head>
<body >
<div class="co" style="background-image: url('/static/images/login.jpg'); background-size:cover;">
	{% if avail_trains %}

					<table>
					 <tr>
						 <th>Train Name</th>
						 <th>Source</th>
						 <th>Destination</th>
						 <th>Departure Time</th>
						 <th>Arrival Time</th>
						 <th>Class</th>
						 <th>Ticket Price</th>
					 </tr>
						<tr>
							<td><form action="/booking/sortdata/" method="post">
								{% csrf_token %}
								<select name="nameselect" onchange="this.form.submit()">
  								<option value="nameascending" selected>Ascending</option>
								<option value="namedescending"{% if request.session.nameselect %}selected{% endif %}>Descending</option>

								</select></form></td>
							<td></td>
							<td></td>
							<td><form action="/booking/sortdata/" method="post">
								{% csrf_token %}
								<select name="dtimeselect" onchange="this.form.submit()">
  							<option value="dtimeascending">Ascending</option>
								<option value="dtimedescending"{% if request.session.dtimeselect %}selected{% endif %}>Descending</option>

								</select></form></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<div id="demo">
					 	 {% for each in avail_trains %}
						   <tr >
							 	<td> {{ each.trainname }} </td>
							 	<td> {{ each.dname }} </td>
							    <td> {{ each.aname }}</td>
							  	<td> {{ each.dtime }} </td>
							  	<td> {{ each.atime}}</td>
							  	<td> {{ each.trainclass }}</td>
							  	<td> {{ each.price }}</td>
						   </tr>

						</div>
						<tr>
							<form action="/booking/booking/" method="POST">
					{% csrf_token %}
								<td colspan="7"><center><input type="submit" class="btn btn-success" value="book now" id="a" name="book_now"/>
								<input class="hidden_input" name="trainno" type="hidden" value="{{ each.trainno }}"/>
								<input class="hidden_input" name="aid" type="hidden" value="{{ each.aid }}"/>
						<input class="hidden_input" name="did" type="hidden" value="{{ each.did }}"/>
									<input class="hidden_input" name="train_class" type="hidden" value="{{ each.trainclass }}"/></center></td>

							</form></tr>
						 {% endfor %}
						</table>

				<br/><br/><br/><br/>
			{% endif %}
</div>
<script>

</script>
</body>
</html>
{% endblock %}